In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [6]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [12]:
df.shape

(768, 9)

In [13]:
x=df.drop(['Outcome'],axis=1)

In [14]:
y=df['Outcome']

In [15]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=27)

In [17]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(576, 8)
(192, 8)
(576,)
(192,)

In [22]:
from sklearn.model_selection import cross_val_score

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
cvs=cross_val_score(DecisionTreeClassifier(),x,y,cv=5)

In [24]:
cvs

array([0.69480519, 0.66883117, 0.68181818, 0.79738562, 0.7254902 ])

In [25]:
cvs.mean()

0.713666072489602

### Train using Bagging

In [26]:
from sklearn.ensemble import BaggingClassifier

In [28]:
bc=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,oob_score=True,random_state=1)

In [29]:
bc.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=1)

In [31]:
bc.oob_score_

0.7447916666666666

### bagging using cross_val_score

In [32]:
bc1=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,oob_score=True,random_state=1)

In [33]:
mcv=cross_val_score(bc1,x,y,cv=5)

In [34]:
mcv

array([0.75324675, 0.73376623, 0.77922078, 0.81699346, 0.75816993])

In [35]:
mcv.mean()

0.7682794329853152

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rfc=cross_val_score(RandomForestClassifier(n_estimators=50),x,y,cv=5)

In [42]:
rfc

array([0.75974026, 0.71428571, 0.75974026, 0.82352941, 0.77777778])

In [43]:
rfc.mean()

0.7670146846617435

In [ ]:
rf=BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,oob_score=True,random_state=1)